.date-time {
  background-color:$surface0;
  padding: 0.5rem;
}

.calendar-window {
  background-color: $surface0;
  border-radius: 20px;
  padding: 20px;
}

.calendar-header {
  margin-bottom: 8px;
}

.calendar-date {
  font-size: 32px;
  font-weight: 700;
}

.calendar-time {
  font-size: 32px;
  font-weight: 800;
}

.calendar-widget {
  padding: 8px;
}