* {
  all: unset; // Unsets everything so you can style everything from scratch
}

@import "./styles/colors.scss";
@import "./styles/icon.scss";
@import "./styles/temperature.scss";
@import "./styles/summary-manage-system.scss";
@import "./styles/active-window.scss";
@import "./styles/workspaces.scss";
@import "./styles/brightness.scss";
@import "./styles/tray.scss";
@import "./styles/battery.scss";
@import "./styles/updates.scss";
@import "./styles/control-panel.scss";
@import "./styles/date-time.scss";
@import "./styles/power-btn.scss";
@import "./styles/power-menu.scss";
@import "./styles/spotify-bar.scss";
@import "./styles/spotify-panel.scss";

// Global Styles
.bar {
  background-color: transparent;
  color: #b0b4bc;
  padding: 0 10px
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}